header {
  width: 100vw;
  height: fit-content;
  display: inline-block;
  background-color: rgb(255, 0, 0);
}

img {
  display: block;
  float: left;
  margin-right: 20px;
  width: 7%;
}
.video {
  width: 100%;
}

h1 {
  margin: 0;
  width: 100%;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}

h2 {
  color: rgb(255, 255, 255);
  margin: 0;
  height: 100%;
}

.banner {
  background: rgb(129, 129, 129);
  height: 15vh;
  display: block;
}

.hamburger {
  display: none;
}

.navigation {
  background: rgb(187, 187, 187);
  width: 100%;
  margin: 0;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.menu li {
  text-align: center;
  font-size: 150%;
  display: block;
  margin: 0;
  width: 100%;
}

.menu li a {
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
}

@media screen and (max-width: 1179px) {
  .navigation {
    display: block;
  }
  img {
    width: 7em;
  }
  h1 {
    font-size: 350%;
  }
}

@media screen and (max-width: 480px) {
  /* .navigationmobile {
    display: block;
  } */
  img {
    width: 5em;
    margin-right: 10px;
  }
  h1 {
    font-size: 150%;
    margin-top: 17px;
  }
  h2 {
    font-size: 100%;
  }
}
