header {
  width: 100vw;
}
img {
  float: left;
  margin-right: 20px;
  width: 7%;
}
.video {
  width: 100%;
}

h1 {
  margin: 0;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}

h2 {
  color: rgb(255, 255, 255);
  margin: 0;
}

.banner {
  background: rgb(129, 129, 129);
  height: 15vh;
}

.hamburger {
  display: none;
}

.navigation {
  background: rgb(187, 187, 187);
  width: 100%;
  text-align: center;
  display: flex;
}
.navigation li {
  font-size: 150%;
  display: inline-block;
}
.navigation li a {
  padding: 100px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
}

@media screen and (max-width: 1179px) {
  .navigation {
    display: block;
  }
  img {
    width: 7em;
  }
  h1 {
    font-size: 350%;
  }
}

@media screen and (max-width: 480px) {
  /* .navigationmobile {
    display: block;
  } */
  img {
    width: 5em;
    margin-right: 10px;
  }
  h1 {
    font-size: 150%;
    margin-top: 17px;
  }
  h2 {
    font-size: 100%;
  }
}
