* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

header {
  width: 100%;
}

.ghostimage {
  float: left;
  margin-right: 20px;
  width: 5.5em;
}

.video {
  width: 100%;
  margin-top: 6px;
}

.title {
  text-align: center;
  font-size: 300%;
  width: 100%;
  color: rgb(255, 255, 255);
}

.subtitle {
  text-align: center;
  font-size: 200%;
  color: rgb(255, 255, 255);
}

.banner {
  background: rgb(129, 129, 129);
}

.hamburger {
  display: none;
}

.navigation {
  background: rgb(187, 187, 187);
  width: 100%;
}

.menu {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.menu li {
  list-style: none;
  display: inline;
  line-height: 50px;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.menu li a {
  text-decoration: none;
  font-size: 150%;
  display: block;
  background-color: rgb(165, 165, 165);
  border: rgb(129, 129, 129);
  border-style: solid;
}

body {
  height: 100%;
  background-color: rgb(165, 165, 165);
}

.section {
  display: flex;
  flex-direction: column;
}

article {
  margin: 5px;
}

#articleone {
  background: rgb(129, 129, 129);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30%;
}

#articletwo {
  background: rgb(129, 129, 129);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30%;
}

#articlethree {
  background: rgb(129, 129, 129);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30%;
}

.articleimage {
  width: 16em;
  float: right;
}

h3 {
  font-size: 1.7em;
}

p {
  font-size: 1.2em;
  margin-right: 30%;
}

.moreinfo {
  margin-top: 10px;
  font-size: 1.4em;
}

.footer {
  background: rgb(129, 129, 129);
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

#copyright {
  font-size: 1em;
  padding: 10px;
}

#cookies {
  position: fixed;
  top: 96%;
  right: 0%;
  font-size: 1em;
  color: #fff;
  background: #fa0;
  opacity: 0.5;
  padding: 10px;
}

aside {
  font-size: 120%;
  color: #fff;
  background: rgb(0, 0, 0);
  padding: 25px;
  position: fixed;
  top: 35%;
  right: 0%;
}

@media only screen and (max-width: 1279px) {
  .section {
    flex-direction: column-reverse;
  }
  video {
    order: 1;
  }
  aside {
    position: initial;
    order: 2;
  }
  .articleimage {
    float: left;
  }
}
@media only screen and (max-width: 480px) {
  video {
    display: none;
  }
  .menu {
    display: none;
  }
}
